/*////////////////////// HEADER ///////////////////////////////////*/
#row-header{
				background-color: #28536B;
				padding-top:5px;
				padding-bottom : 5px;
				color: white;
}
			
#logo-header{
	font-size : 1.3em;
	text-align:center;
	}
	
.form-control{
	width:85%;
	float:left;
}

.btn btn-dark{
				
	float:left;
}

#seconnecter{
	vertical-align: middle;
	text-align:center;
}

#panier{
	
	vertical-align: middle;
	text-align:center;

}
/*////////////////////// Contenu ///////////////////////////////////*/
.style-image{

		
		}
.style-contenu{
			color: green;
			vertical-align:super;
		
		
		}
		#nom-produit{
			font-size: 1.5em;
			font-weight: bold;
			color:orange;
		
		}
