
.white-button.ui-button.ui-state-default {
        background-color: #ffffff;
        color: #222222;
        border-color: #d6d6d6;
    }
 
.white-button.ui-button.ui-state-default:enabled:hover, 
.white-button.ui-button.ui-state-default:focus {
        background-color: #f2f2f2;
        border-color: #ccc;
        color: #373a3c;
    }
 
     .value {
        font-weight: bold;
    }
     
    .ui-carousel {
        margin-bottom: 20px;
    }
  
